<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500333949145-t6in1vsij2r2sm9r85i9673i2dc2mo6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500333949145-t6in1vsij2r2sm9r85i9673i2dc2mo6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAdiwzjyzShM4vUS480cCZbrF2_ukFzRms</string>
	<key>GCM_SENDER_ID</key>
	<string>500333949145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MoElnaggar.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-57c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-57c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500333949145:ios:d3fb0d9525c35e6d</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-57c1d.firebaseio.com</string>
</dict>
</plist>